<br><br><br><br><br><br><br><br><br>
<div class='col-lg-12'>
  <div class='col-md-2'>
  </div>
  <div class='col-md-8' style="text-align: center;">
    <row>
      <h1 style="text-align: center; font-family: Lobster Two; font-size: 45px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We're Expecting</h1><br><br>
    </row>
    <row>
    <%= link_to boy_names_path do %>
      <%= fa_icon "male 4x", style: "color: rgba(25, 136, 250, 0.66); font-size: 250px;", class: "fa-6x" %>
    <% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <%= link_to girl_names_path do %>
      <%= fa_icon "female 4x", style: "color: rgba(238, 56, 254, 0.68); font-size: 250px", class: "fa-6x-girl" %>
    <% end %>
  </row>
  <div class='col-md-2'>
  </div>
  </div>
</div>
