<br>
<section id="feature">
  <div class="col-md-12">
    <div class="col-md-2">
    </div>

      <div class="col-md-8 card" style= "border: thick solid teal; background-color: white;">
        <hr>
        <h1 style="text-align: center;"> A Name will go Here</h1><hr><br>
        <p style="font-size: 20px;"> <strong>Meaning and History: </strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
        <p style="font-size: 20px;"><strong>Pronunciation: </strong>Nay-ehm</p><br>
        <p style="font-size: 20px;"><strong>Related names/Variants: </strong>Richard, Jeff, Nic</p><br>
        <p style="font-size: 20px;"> <strong>Popularity: </strong>133</p><br>
      </div>
      <div class="row">

        <div class="container-fluid" style="justify-content: center; clear:both; width: 500px;">
          <i class="ion-ios-close-outline"></i>
          <i class="ion-ios-checkmark-outline pull-right"></i>
        </div>

      </div>

  </div>
</section>
