<br><br><br><br><br>
<section id="feature">
  <div class="col-md-12">
    <div class="col-md-2">
    </div>

      <div class="col-md-8 card" style= "border: thick solid teal; background-color: white;">

        <h1 style='text-align: center;'>Link Accounts</h1>

        <%= form_for @partnership do |f| %>
          <div class='form-group'>
            Enter Your Partners <%= f.label :user_two_email %> Address:
            <%= f.email_field :user_two_email, class: 'form-control' %>
          </div><br>
          <div class='form-group'>
          <%= f.submit 'Link Now', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>

  </div>
</section>
