<br><br><br><br><br>
<section id="feature">
  <div class="col-md-12">
    <div class="col-md-2">
    </div>

      <div class="col-md-8 card" style= "border: thick solid red; background-color: white;">
        <h2 style="padding: 30px;">Your Account is Already Partnered to <%= @partnership.user_two_email %>!</h2>
      </div>

  </div>
</section>
