<br><br><br><br><br>
<section id="feature">
  <div class="col-md-12">
    <div class="col-md-2">
    </div>

      <div class="col-md-8 card" style= "border: thick solid red; background-color: white;">
        <h2 style="padding: 30px; text-align:center">Your Account is Already Partnered to <%= current_user.partner.first_name %>!</h2>
      </div>

  </div>
</section>
