body {
  padding: 10px;
}

.navbar {
  background-color: lightblue !important;
}

.navbar-brand {
  color: black !important;
}

.navbar div > ul > li > a {
  color: black !important;
  font-family: 'Lucinda';
  font-size: 18px;
}
